@font-face {
  font-family: "mplus-1c-light";
  src: '../fonts/mplus-1c-light.eot';
  src: url("../fonts/mplus-1c-light.eot?#iefix") format('embedded-opentype'), url("../fonts/mplus-1c-light.woff") format('woff'), url("../fonts/mplus-1c-light.ttf") format('truetype');
}
@font-face {
  font-family: "mplus-1c-thin";
  src: '../fonts/mplus-1c-thin.eot';
  src: url("../fonts/mplus-1c-thin.eot?#iefix") format('embedded-opentype'), url("../fonts/mplus-1c-thin.woff") format('woff'), url("../fonts/mplus-1c-thin.ttf") format('truetype');
}
* {
  box-sizing: border-box;
}
body {
  background: #fff;
  color: #000;
  font-size: 10px;
  font-family: 'selfFont', 'Open Sans', sans-serif;
}
.clearfix {
  display: inline-block;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}
img {
  width: 100%;
  display: block;
}
a {
  color: #b3b3b3;
}
a:hover {
  opacity: 0.6;
}
a:hover img {
  opacity: 0.6;
}
.txL {
  text-align: left;
}
.txR {
  text-align: right;
}
.txC {
  text-align: center;
}
.fwB {
  font-weight: bold;
}
header {
  width: 100%;
  display: table;
}
@media screen and (max-width: 600px) {
  header {
    padding: 3vw;
    display: block;
  }
}
header .sitename {
  background: #fff;
  color: #000;
  width: 100%;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  header .sitename {
    padding: 25px 30px;
    font-size: 2.32vw;
    display: table;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  header .sitename {
    padding: 25px 30px;
    font-size: 2.32vw;
    display: table;
  }
}
@media screen and (max-width: 600px) {
  header .sitename {
    font-size: 6.4vw;
    display: block;
    text-align: left;
  }
}
@media screen and (min-width: 768px) {
  header .sitename_box {
    display: table-cell;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  header .sitename_box {
    display: table-cell;
  }
}
@media screen and (max-width: 600px) {
  header .sitename_box {
    display: block;
    margin-bottom: 3vw;
  }
}
header .sitename_box a {
  text-decoration: none;
  color: #000;
}
@media screen and (min-width: 768px) {
  header .sitename_box a {
    display: inline-block;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  header .sitename_box a {
    display: inline-block;
  }
}
@media screen and (max-width: 600px) {
  header .sitename_box a {
    display: block;
    margin-bottom: 1vw;
  }
}
header .sitename_boxLink {
  letter-spacing: normal;
}
header .sitename_boxTagline {
  letter-spacing: normal;
  color: #c96;
}
@media screen and (min-width: 768px) {
  header .sitename_boxTagline {
    font-size: 1.5vw;
    margin-left: 1.5625%;
    display: inline-block;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  header .sitename_boxTagline {
    font-size: 1.5vw;
    margin-left: 1.5625%;
    display: inline-block;
  }
}
@media screen and (max-width: 600px) {
  header .sitename_boxTagline {
    font-size: 4.5vw;
    display: block;
    margin-bottom: 1vw;
  }
}
header .sitename_boxTit {
  letter-spacing: normal;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  header .sitename_boxTit {
    display: inline-block;
    margin-left: 1.875%;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  header .sitename_boxTit {
    display: inline-block;
    margin-left: 1.875%;
  }
}
@media screen and (max-width: 600px) {
  header .sitename_boxTit {
    display: block;
    margin-bottom: 1vw;
  }
}
@media screen and (min-width: 768px) {
  header .sitename_lang {
    font-size: 1.5vw;
    display: table-cell;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  header .sitename_lang {
    font-size: 1.5vw;
    display: table-cell;
  }
}
@media screen and (max-width: 600px) {
  header .sitename_lang {
    font-size: 4.4vw;
    text-align: right;
  }
}
.wrapper {
  width: 100%;
}
.wrapper .container {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .wrapper .container {
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  .wrapper .container {
    width: 100%;
    margin: 0 auto;
  }
}
.wrapper .container .mainVisual {
  width: 100%;
}
.wrapper .container .imgLink {
  width: 100%;
  display: block;
}
.wrapper .container .imgLink ul {
  display: table;
  width: 100%;
}
@media screen and (max-width: 600px) {
  .wrapper .container .imgLink ul {
    display: block;
  }
}
.wrapper .container .imgLink li {
  width: 33.33333333333%;
  padding-bottom: 33.33333333333%;
  position: relative;
  display: table-cell;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .wrapper .container .imgLink li {
    display: block;
    width: 100%;
    padding-bottom: 100%;
  }
}
.wrapper .container .imgLink li:first-child {
  background: url("../img/img_link01.jpg") no-repeat;
  background-size: 100%;
}
.wrapper .container .imgLink li:nth-child(2) {
  background: url("../img/img_link02.jpg") no-repeat;
  background-size: 100%;
}
.wrapper .container .imgLink li:last-child {
  background: url("../img/img_link03.jpg") no-repeat;
  background-size: 100%;
}
.wrapper .container .imgLink li a {
  color: #fff;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  transform: translate(0, -50%);
  margin: auto;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  .wrapper .container .imgLink li a {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    background: rgba(0,0,0,0.3);
  }
}
@media screen and (max-width: 600px) {
  .wrapper .container .imgLink li a {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    background: rgba(0,0,0,0.3);
  }
}
.wrapper .container .imgLink li a:hover {
  background: rgba(0,0,0,0.5);
  -webkit-opacity: 10;
  -moz-opacity: 10;
  opacity: 10;
}
@media screen and (max-width: 600px) {
  .wrapper .container .imgLink li a:hover {
    background: rgba(0,0,0,0.3);
  }
}
.wrapper .container .imgLink_inner {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  transform: translate(0, -50%);
  margin: auto;
  display: block;
  font-family: "mplus-1c-thin", sans-serif;
}
@media screen and (min-width: 768px) {
  .wrapper .container .imgLink_inner {
    font-size: 5.625vw;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  .wrapper .container .imgLink_inner {
    font-size: 5.625vw;
  }
}
@media screen and (max-width: 600px) {
  .wrapper .container .imgLink_inner {
    font-size: 17vw;
  }
}
@media screen and (min-width: 768px) {
  .wrapper .container .imgLink_inner .fzL {
    font-size: 15.625vw;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  .wrapper .container .imgLink_inner .fzL {
    font-size: 15.625vw;
  }
}
@media screen and (max-width: 600px) {
  .wrapper .container .imgLink_inner .fzL {
    font-size: 45vw;
  }
}
.wrapper .container .imgLink_inner .fzS {
  vertical-align: bottom;
}
@media screen and (min-width: 768px) {
  .wrapper .container .imgLink_inner .fzS {
    font-size: 3.625vw;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  .wrapper .container .imgLink_inner .fzS {
    font-size: 3.625vw;
  }
}
@media screen and (max-width: 600px) {
  .wrapper .container .imgLink_inner .fzS {
    font-size: 12vw;
  }
}
@media screen and (min-width: 768px) {
  .wrapper .container .section {
    margin-top: 60px;
  }
  .wrapper .container .section:last-of-type {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  .wrapper .container .section {
    margin-top: 60px;
  }
  .wrapper .container .section:last-of-type {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 600px) {
  .wrapper .container .section {
    margin-top: 10vw;
  }
  .wrapper .container .section:last-of-type {
    margin-bottom: 10vw;
  }
}
.wrapper .container .sectionTit2 {
  background: #000;
  color: #fff;
  text-align: center;
  font-family: 'selfFont', 'Open Sans', sans-serif;
}
@media screen and (min-width: 768px) {
  .wrapper .container .sectionTit2 {
    font-size: 3.6vw;
    padding: 35px 0;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  .wrapper .container .sectionTit2 {
    font-size: 3.6vw;
    padding: 35px 0;
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 600px) {
  .wrapper .container .sectionTit2 {
    font-size: 10vw;
    padding: 5vw 0;
    margin-bottom: 5vw;
  }
}
.wrapper .container .sectionTit3 {
  line-height: 1.3;
  font-family: "mplus-1c-light", sans-serif;
}
@media screen and (min-width: 768px) {
  .wrapper .container .sectionTit3 {
    font-size: 3.6vw;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  .wrapper .container .sectionTit3 {
    font-size: 3.6vw;
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 600px) {
  .wrapper .container .sectionTit3 {
    font-size: 5vw;
    margin-bottom: 5vw;
  }
}
@media screen and (min-width: 768px) {
  .wrapper .container .sectionTit3 h3 {
    width: 66vw;
    margin: 0 auto;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  .wrapper .container .sectionTit3 h3 {
    width: 70vw;
    margin: 0 auto;
  }
}
@media screen and (max-width: 600px) {
  .wrapper .container .sectionTit3 h3 {
    width: 90vw;
    margin: 0 auto;
  }
}
.wrapper .container .sectionTit3 span {
  display: block;
}
.wrapper .container .sectionTit3_sub {
  text-align: center;
  font-family: "mplus-1c-thin", sans-serif;
}
@media screen and (min-width: 768px) {
  .wrapper .container .sectionTit3_sub {
    font-size: 3vw;
    margin-top: 10px;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  .wrapper .container .sectionTit3_sub {
    font-size: 3vw;
    margin-top: 10px;
  }
}
@media screen and (max-width: 600px) {
  .wrapper .container .sectionTit3_sub {
    margin-top: 1vw;
  }
}
.wrapper .container .sectionTit4 {
  font-family: 'selfFont', 'Open Sans', sans-serif;
  font-weight: bold;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .wrapper .container .sectionTit4 {
    font-size: 2.4vw;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  .wrapper .container .sectionTit4 {
    font-size: 2.4vw;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 600px) {
  .wrapper .container .sectionTit4 {
    font-size: 5vw;
    margin-bottom: 2vw;
  }
}
.wrapper .container .article {
  width: 100%;
}
.wrapper .container .articleBlock {
  line-height: 1.5;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .wrapper .container .articleBlock {
    padding: 0 60px;
    font-size: 1.6vw;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  .wrapper .container .articleBlock {
    padding: 0 60px;
    font-size: 1.6vw;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 600px) {
  .wrapper .container .articleBlock:last-of-type .articleTxt {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .wrapper .container .articleBlock p {
    margin-bottom: 30px;
  }
  .wrapper .container .articleBlock p:last-of-type {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  .wrapper .container .articleBlock p {
    margin-bottom: 30px;
  }
  .wrapper .container .articleBlock p:last-of-type {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .wrapper .container .articleImg_flL {
    float: left;
    width: 285px;
    margin-right: 15px;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  .wrapper .container .articleImg_flL {
    width: 100%;
    display: block;
    margin-bottom: 5vw;
  }
}
@media screen and (max-width: 600px) {
  .wrapper .container .articleImg_flL {
    width: 100%;
    display: block;
    margin-bottom: 5vw;
  }
}
@media screen and (min-width: 768px) {
  .wrapper .container .articleImg_flR {
    float: right;
    width: 285px;
    margin-left: 15px;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  .wrapper .container .articleImg_flR {
    width: 100%;
    display: block;
    margin-bottom: 5vw;
  }
}
@media screen and (max-width: 600px) {
  .wrapper .container .articleImg_flR {
    width: 100%;
    display: block;
    margin-bottom: 5vw;
  }
}
.wrapper .container .articleTxt {
  word-break: break-word;
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  .wrapper .container .articleTxt {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 5vw;
  }
  .wrapper .container .articleTxt p {
    margin-bottom: 2.5vw;
  }
  .wrapper .container .articleTxt p:last-child {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 600px) {
  .wrapper .container .articleTxt {
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 5vw;
    font-size: 3.5vw;
  }
  .wrapper .container .articleTxt p {
    margin-bottom: 2.5vw;
  }
  .wrapper .container .articleTxt p:last-child {
    margin-bottom: 0;
  }
}
.wrapper .container .col2 {
  width: 100%;
  display: block;
}
@media screen and (min-width: 768px) {
  .wrapper .container .col2 {
    padding: 0 60px;
    font-size: 1.6vw;
    letter-spacing: -0.5em;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  .wrapper .container .col2 {
    padding: 0 60px;
    font-size: 1.6vw;
    letter-spacing: -0.5em;
  }
}
@media screen and (min-width: 768px) {
  .wrapper .container .col2L {
    display: inline-block;
    letter-spacing: normal;
    margin-right: 40px;
    vertical-align: top;
    width: 36.328125%;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  .wrapper .container .col2L {
    display: inline-block;
    letter-spacing: normal;
    margin-right: 40px;
    vertical-align: top;
    width: 36.328125%;
  }
}
@media screen and (max-width: 600px) {
  .wrapper .container .col2L {
    display: block;
    width: 100%;
    margin-bottom: 3vw;
  }
}
@media screen and (min-width: 768px) {
  .wrapper .container .col2L_img {
    width: 100%;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  .wrapper .container .col2L_img {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .wrapper .container .col2L_img {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .wrapper .container .col2R {
    display: inline-block;
    letter-spacing: normal;
    width: calc(100% - 36.328125% - 40px);
    vertical-align: top;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  .wrapper .container .col2R {
    display: inline-block;
    letter-spacing: normal;
    width: calc(100% - 36.328125% - 40px);
    vertical-align: top;
  }
}
@media screen and (max-width: 600px) {
  .wrapper .container .col2R {
    display: block;
    width: 90%;
    margin: 0 auto;
  }
}
.wrapper .container .col2R_txt {
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .wrapper .container .col2R_txt {
    font-size: 1.6vw;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  .wrapper .container .col2R_txt {
    font-size: 1.6vw;
  }
}
@media screen and (max-width: 600px) {
  .wrapper .container .col2R_txt {
    font-size: 3.5vw;
  }
}
@media screen and (min-width: 768px) {
  .wrapper .container .col2R_txt p {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  .wrapper .container .col2R_txt p {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 600px) {
  .wrapper .container .col2R_txt p {
    margin-bottom: 2.5vw;
  }
}
@media screen and (min-width: 768px) {
  .wrapper .container .col2R_txt .note {
    font-size: 1.4vw;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  .wrapper .container .col2R_txt .note {
    font-size: 1.4vw;
  }
}
@media screen and (max-width: 600px) {
  .wrapper .container .col2R_txt .note {
    font-size: 2.8vw;
  }
}
.wrapper .container .col2R_txt .btnImg {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .wrapper .container .col2R_txt .btnImg {
    width: 200px;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  .wrapper .container .col2R_txt .btnImg {
    width: 200px;
  }
}
@media screen and (max-width: 600px) {
  .wrapper .container .col2R_txt .btnImg {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .wrapper .container .video {
    margin: 40px auto;
    text-align: center;
    padding: 0 60px;
  }
  .wrapper .container .video iframe {
    width: 100%;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  .wrapper .container .video {
    margin: 40px auto;
    text-align: center;
    padding: 0 60px;
  }
  .wrapper .container .video iframe {
    width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  .wrapper .container .video {
    width: calc(100% - 120px);
    position: relative;
    padding: 0 0 48.271%;
  }
  .wrapper .container .video iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    max-width: 853px;
    max-height: 480px;
  }
}
@media screen and (max-width: 600px) {
  .wrapper .container .video {
    width: 90%;
    margin: 5vw auto 0;
  }
}
.wrapper .container .btnWrapper {
  display: block;
}
@media screen and (min-width: 768px) {
  .wrapper .container .btnWrapper {
    padding: 0 60px;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  .wrapper .container .btnWrapper {
    padding: 0 60px;
  }
}
@media screen and (max-width: 600px) {
  .wrapper .container .btnWrapper {
    width: 90%;
    margin: 5vw auto 0;
  }
}
.wrapper .container .btnWrapper ul {
  display: block;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .wrapper .container .btnWrapper ul {
    letter-spacing: -0.5em;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  .wrapper .container .btnWrapper ul {
    letter-spacing: -0.5em;
  }
}
.wrapper .container .btnWrapper ul li {
  letter-spacing: normal;
  border: 1px solid #000;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .wrapper .container .btnWrapper ul li {
    display: inline-block;
    width: 34vw;
    margin-right: 25px;
    font-size: 1.6vw;
  }
  .wrapper .container .btnWrapper ul li:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  .wrapper .container .btnWrapper ul li {
    display: inline-block;
    width: 30.5625vw;
    margin-right: 25px;
    font-size: 1.6vw;
  }
  .wrapper .container .btnWrapper ul li:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 600px) {
  .wrapper .container .btnWrapper ul li {
    display: block;
    width: 100%;
    margin-bottom: 2.5vw;
    font-size: 3.5vw;
  }
  .wrapper .container .btnWrapper ul li:last-child {
    margin-bottom: 0;
  }
}
.wrapper .container .btnWrapper ul li a {
  display: block;
  text-decoration: none;
  color: #000;
  position: relative;
}
@media screen and (min-width: 768px) {
  .wrapper .container .btnWrapper ul li a {
    padding: 15px 20px;
  }
  .wrapper .container .btnWrapper ul li a:after {
    content: '';
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0;
    bottom: 0;
    right: 15px;
    margin: auto;
  }
  .wrapper .container .btnWrapper ul li a:hover {
    background: #000;
    color: #fff;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
  .wrapper .container .btnWrapper ul li a:hover:after {
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  .wrapper .container .btnWrapper ul li a {
    padding: 15px 20px;
  }
  .wrapper .container .btnWrapper ul li a:after {
    content: '';
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0;
    bottom: 0;
    right: 15px;
    margin: auto;
  }
  .wrapper .container .btnWrapper ul li a:hover {
    background: #000;
    color: #fff;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
  .wrapper .container .btnWrapper ul li a:hover:after {
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
  }
}
@media screen and (max-width: 600px) {
  .wrapper .container .btnWrapper ul li a {
    padding: 3vw 5vw;
  }
  .wrapper .container .btnWrapper ul li a:after {
    content: '';
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    width: 2vw;
    height: 2vw;
    top: 0;
    bottom: 0;
    right: 5vw;
    margin: auto;
  }
}
footer {
  background: #000;
  color: #fff;
}
footer .container {
  display: block;
}
@media screen and (min-width: 768px) {
  footer .container {
    padding: 30px 60px;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  footer .container {
    padding: 30px 60px;
  }
}
@media screen and (max-width: 600px) {
  footer .container {
    width: 90%;
    margin: 0 auto;
    padding: 8vw 0;
  }
}
footer .container_col2 {
  display: block;
}
footer .container_col2 a {
  color: #fff;
}
@media screen and (min-width: 768px) {
  footer .container_col2 {
    letter-spacing: -0.5em;
  }
}
footer .container_col2L {
  letter-spacing: normal;
}
@media screen and (min-width: 768px) {
  footer .container_col2L {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 85px;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  footer .container_col2L {
    display: block;
    margin-bottom: 10vw;
  }
}
@media screen and (max-width: 600px) {
  footer .container_col2L {
    display: block;
    margin-bottom: 10vw;
  }
}
footer .container_col2L .sns {
  display: block;
}
@media screen and (min-width: 768px) {
  footer .container_col2L .sns {
    margin-bottom: 30px;
  }
}
footer .container_col2L .sns ul {
  display: table;
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  footer .container_col2L .sns ul {
    width: 100%;
    margin-bottom: 5vw;
  }
}
@media screen and (max-width: 600px) {
  footer .container_col2L .sns ul {
    width: 100%;
    margin-bottom: 5vw;
  }
}
footer .container_col2L .sns ul li {
  display: table-cell;
  text-align: center;
}
@media screen and (min-width: 768px) {
  footer .container_col2L .sns ul li {
    font-size: 1.5vw;
    width: 4vw;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  footer .container_col2L .sns ul li {
    font-size: 3.5vw;
    width: 14.28571428571429%;
  }
  footer .container_col2L .sns ul li:first-child {
    width: 10%;
  }
}
@media screen and (max-width: 600px) {
  footer .container_col2L .sns ul li {
    font-size: 3.5vw;
    width: 14.28571428571429%;
  }
  footer .container_col2L .sns ul li:first-child {
    width: 10%;
  }
}
footer .container_col2L .sns ul li a {
  display: block;
}
footer .container_col2L .patreon {
  display: block;
}
@media screen and (min-width: 768px) {
  footer .container_col2L .patreon {
    width: 257px;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  footer .container_col2L .patreon {
    width: 257px;
  }
}
@media screen and (max-width: 600px) {
  footer .container_col2L .patreon {
    width: 100%;
  }
}
footer .container_col2R {
  letter-spacing: normal;
  text-align: left;
}
@media screen and (min-width: 768px) {
  footer .container_col2R {
    display: inline-block;
    vertical-align: bottom;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  footer .container_col2R {
    display: block;
  }
}
@media screen and (max-width: 600px) {
  footer .container_col2R {
    display: block;
  }
}
footer .container_col2R .logo {
  display: block;
}
footer .container_col2R .logo ul {
  display: block;
}
footer .container_col2R .logo ul li {
  display: inline-block;
}
@media screen and (min-width: 768px) {
  footer .container_col2R .logo ul li {
    width: 120px;
  }
  footer .container_col2R .logo ul li:first-child {
    width: 85px;
    margin-right: 30px;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  footer .container_col2R .logo ul li {
    width: 120px;
  }
  footer .container_col2R .logo ul li:first-child {
    width: 85px;
    margin-right: 30px;
  }
}
@media screen and (max-width: 600px) {
  footer .container_col2R .logo ul li {
    width: 18.75vw;
  }
  footer .container_col2R .logo ul li:first-child {
    width: 13.28125vw;
    margin-right: 3vw;
  }
}
footer .container .copyright {
  display: block;
  text-align: center;
}
@media screen and (min-width: 768px) {
  footer .container .copyright {
    margin: 40px auto 0;
    font-size: 12px;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  footer .container .copyright {
    margin: 40px auto 0;
    font-size: 12px;
  }
}
@media screen and (max-width: 600px) {
  footer .container .copyright {
    margin: 8vw auto 0;
    font-size: 2.5vw;
  }
}
